### Haskell ###
result
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
.hsenv
.cabal-sandbox/
dist/
dist-newstyle/
cabal.sandbox.config
cabal.config
.stack-work/
.ghc.ennvironment*
cabal.project.local
stack.yaml.lock

# Emacs files
*~
/.ghc.environment.*

.direnv/
